{% extends 'base.html.twig' %}
{% block body %}
    {% block title %} USER BOARDS{% endblock %}

    <table class="table table-striped table-bordered" style="width: 60%; margin: 0 auto;">
        <tr>
            <th scope="col" style="width: 20%;">No</th>
            <th scope="col" style="width: 10%;">owner</th>
            <th scope="col" style="width: 60%;">title</th>

        </tr>
        {% for board in boards %}
            <tr href="/boards/{board.id}">
                <td>{{ board.id }}dff</td>
                <td>{{ board.owner }}dfdfd</td>
                <td>{{ board.name }}fdfdf</td>

            </tr>
        {% endfor %}
    </table>

{% endblock %}