{% extends 'base.html.twig' %}
{% block title %} Create New Board {% endblock %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <form style="width: 30%; margin: 0 auto;">
        <h1>Create New Board</h1>
        {{ form_start(form) }}
        {# form_row(form.title, {label_attr: {class: 'radio-custom'} }) #}
        {{ form_end(form) }}
    </form>
{% endblock %}